<div class="container mx-auto">
    <h1 class="text-2xl text-center font-extrabold text-blue-600 border-b-4 border-yellow-400 pb-2">
     Europe Tours
    </h1>
    <h2 class="bg-blue-500 text-white p-4 text-center">
      Find a Tour
    </h1>
  <div class="mt-2 flex flex-col justify-center items-center">
    <%= render partial: 'form' %>
    <%= turbo_frame_tag 'search-results' do %>
      <%= render partial: 'tours' %>
    <% end %>
  </div>
</div>
