<div class="container mx-auto">
  <h1 class="text-3xl text-center font-extrabold text-blue-900 border-b-4 border-yellow-400 pb-2">
    Europe Tours
  </h1>
  <h2 class="bg-blue-900 font-bold text-white text-xl p-4 text-center">
    Find a Tour
  </h2>
  <div class="mt-2 flex flex-col justify-center items-center">
    <%= render partial: 'form' %>
    <%= turbo_frame_tag 'search-results' do %>
      <%= render partial: 'tours' %>
    <% end %>
  </div>
</div>
