<div class="container mx-auto">
  <%# <div class="flex justify-between items-start py-4"> %>
  <%#   <%= image_tag "logo.svg", class: "h-8 mt-2 ml-2" %1> %>
  <%# </div> %>
  <div class="mt-2 flex flex-col justify-center items-center">
    <h1 class="mb-8 text-2xl font-extrabold text-gray-900">
      Tour Search
    </h1>
    <%= render partial: 'form' %>
    <%= render partial: 'tours' %>
  </div>
</div>
